# Specify dependencies needed for setting up a local development environment here.
pytest==6.2.3
pylint==2.8.2
jupytext==1.11.1
matplotlib==3.0.0
seaborn==0.11.1
pytest-mock==3.6.1
Sphinx==3.2.1
sphinx-autopackagesummary==1.3
kats==0.1.0
ephem==3.7.5.3
isort==4.2.5
importlib-metadata==0.12
Cython==0.29.23
convertdate==2.3.0